<strong> Olá, {{student }}</strong>
<p>Um de nossos colaboradores respondeu sua solicitação.</p>
<p>
  <strong>Solicitação: </strong> {{question }} <br/>
  <br/>
  <strong>Resposta: </strong> {{answer }} <br/>

  <br />
  <small>
    Caso precise de mais ajuda, entre novamente em contato, teremos prazer em ajudar.
  </small>
</p>
